<h1>New Poll</h1>
<%= form_for(@poll, :url => {:controller=>"polls", :action=>"create" }) do |p| %>
	<%= p.label :title, "Poll Title" %>
	<%= p.text_field :title %><br />
	<%= p.submit "Create a Poll"%>
<% end %>